/* ********* Custom Properties ********* */
/*personalización de colores*/
:root {
  --first-color: rgb(217, 0, 98);
  --first-alpha-color: rgba(217, 0, 98, 0.75);
  --second-color: rgb(20, 25, 45);
  --second-alpha-color: rgba(20, 25, 45, 0.75);
  --third-color: rgb(80, 20, 100);
  --third-alpha-color: rgba(80, 20, 100, 0.75);

  --link-color: rgb(80, 158, 227);
  --link-alpha-color: rgba(80, 158, 227, 0.75);

  --bg-color: rgb(245, 245, 245);
  --bg-alpha-color: rgba(245, 245, 245, 0.75);
}

/* ********* Reset Styles ********* */
a {
  color: var(--link-color);
  transition: all 0.3s ease-out;
}
a:hover {
  color: var(--first-color);
}
body {
  font-family: "Raleway", sans-serif;
}

/* ********* Bootstrap Styles ********* */

/*para modificar los estilos css de bootstrap lo mejor es ir a la dirección del cdn y a la url sacarle el .min y ahi con F3 buscar
la propiedad que se desee cambiar
*/
.bg-dark {
  /*se modifica la propiedad bg-dark de bootstrap y se le pone important para q la pise*/
  background-color: var(--second-color) !important;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23d90062'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23d90062'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.dropdown-item {
  color: var(--first-alpha-color);
  font-weight: bold;
  transition: all 0.3s ease-out;
}
.dropdown-item:hover {
  color: var(--third-alpha-color);
}
.navbar-brand img {
  width: auto;
  height: 3rem;
}
.navbar-dark .navbar-toggler {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  transition: all 0.3s ease-out;
}
.navbar-dark .navbar-toggler:hover {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28217, 0, 98, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  opacity: 0.75;
}
.nav-item {
  transition: all 0.3s ease-out;
}
.nav-item:hover {
  background-color: var(--first-alpha-color);
}

.nav-link {
  margin-left: 0.5rem;
  color: var(--first-color);
  font-size: 1.5rem;
  font-weight: bold;
}
.nav-link:hover {
  color: var(--bs-white);
}

/* ********* My Styles ********* */
.bg-gradient-blue-green {
  background-color: rgba(83, 184, 152, 1);
  background-image: linear-gradient(
    135deg,
    rgba(47, 145, 224, 0.91),
    rgba(7, 31, 51, 0.97) 79%
  );
  background-image: linear-gradient(
    135deg,
    rgba(28, 118, 173, 0.92),
    rgba(83, 184, 152, 1)
  );
}
.bg-color {
  background: var(--bg-color);
}

.bg-alpha-color {
  background-color: var(--bg-alpha-color);
}
.bg-first-color {
  background-color: var(--first-color);
}

.bg-third-color {
  background: var(--third-color);
}
.bg-hero-image {
  background-image: var(--bg-image);
  /*la propiedad --bg-image se modifica en el html de sitios.html, en la etiqueta styles*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.text-first {
  color: var(--first-color);
}
.text-third {
  color: var(--third-color);
}
@media (min-width: 992px) {
  .nav-item:hover {
    background-color: transparent;
  }
}
